html,body{
    height: 100%; font: 12px;
}

input{
	border:1px solid #ccc; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; HEIGHT: 18px; LINE-HEIGHT: normal; color:#666;}
	
select{
	FONT-SIZE: 9pt;
}


.jiraform
{
    border: 1px solid #bbbbbb;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0px;
}

.jiraform .jiraformheader
{
    background-color: #f0f0f0;
}

.jiraform .instructions
{
    border-bottom: 1px solid #bbbbbb;
}

.jiraform .jiraformfooter
{
    text-align: center;
}

.jiraform td
{
    padding: 4px;
}

.formErrors
{
    background-color: #ffcccc;
}

.formErrors h5
{
    color: #cc0000;
}

.formErrors ul
{
    margin: 0;
    list-style: inside;
}

.centred
{
    margin-left: auto;
    margin-right: auto;
}

.rowClear { background-color: #ffffff; } /* normal (white) background */

#quickSearchInput
{
    font-size:10px;
    font-family:Arial,Sans-Serif;
}
/* table styles */
.tableBorder { background-color: #bbbbbb; }

/* table row styles */
.rowHover { background-color: #f0f0f0; cursor: pointer; }
.cellHover { background-color: #fffff0; cursor: pointer; }

.rowHeaderDark { background-color: #bbbbbb; }
.rowHeader { background-color: #f0f0f0; }
.rowNormal { background-color: #ffffff; } /* normal (white) background */
.rowAlternate { background-color: #fffff0; } /* alternate (pale yellow) background */
.rowAlternateDark { background-color: #ffffde; } /* alternate (pale yellow) background */

/* This is the same as colHeaderLink above - we should look to remove that one in future, and use this instead */
TH {	font-family: Arial, Helvetica;	font-size: 12px; text-align: center;}
TH a { text-decoration: none; }

/* titles and headings */
.pagetitle { font-size: 24px; font-weight: bold; font-family: Arial, sans-serif; margin: 0 0 0 0; }
.formtitle { font-size: 15px; font-weight: bold; font-family: Arial, sans-serif; margin: 0 0 2px 0; color: #003366; margin-left:10px;}
.bluetext { color: #666; }

.formLabel
{
    background-color: #fffff0;
}


/* WebWork Stles */
.label { }
.errLabel { color: red; }
.errMsg { color: #cc0000; font-weight: bold; text-align: center}
.errorBox { border: 1px solid #c00; padding: 4px; width: 90%; background: #fcc; }
.errorBox2 
{
    border: 1px solid #c00; 
    background: #fcc; 
}
.checkboxLabel {}
.checkboxErrLabel { color: red }

/* For debugging i18n */
.replaced { background-color: #33CC66; }


/* font styles */
BODY { margin: 0px; font-family: Arial, Sans-Serif, sans-serif; color:#333; background-color: #FBFBFB; }
BLOCKQUOTE { font-size: 11px; font-family: Arial, Sans-Serif, sans-serif; color:black; }
.small { font-size: 9px; }
.smallgrey { font-size: 9px; color: #666; }
.grey { color: #666; }
.lightgrey { color: #aaa; }
.warning { color: #900; font-weight:bold }
.red-highlight, .red-highlight td {color: #FF0000; font-weight:bold }
.green-highlight {color: #006400; font-weight:bold }
.bright-green-highlight {color: #33CC00; font-weight:bold }
.red-highlight-small {color: #8B0000; font-weight:bold; font-size: 9px}
.green-highlight-small {color: #006400; font-weight:bold; font-size: 9px }
.blue-highlight {color: #6600FF; font-weight:bold}

STRONG {font-weight: bold;}
B {font-weight: bold;}

/* styles for field editing page */
.hiddenField { color: #999; }
.hidden
{
    display: none;
    border: none;
    padding: 0px;
}

.basicHide
{
    display: none;
}

.fullyCentered
{
    vertical-align: middle;
    text-align: center;
    margin: auto;
}



H1 { font-weight: bold; font-size: 24px; font-family: Arial, Sans-Serif; margin-bottom: 0px; }
H2 { font-weight: bold; font-size: 18px; font-family: Arial, Sans-Serif; margin-top: 10px; margin-bottom: 0px; }
H3 { font-weight: bold; font-size: 16px; font-family: Arial, Sans-Serif; margin-top: 10px; margin-bottom: 0px; }
H4 { font-weight: bold; font-size: 12px; font-family: Arial, Sans-Serif; margin-top: 10px; margin-bottom: 0px; }
H5 { font-weight: bold; font-size: 11px; font-family: Arial, Sans-serif; margin-bottom: 0px; }
H6 { font-weight: bold; font-size: 10px; font-family: Arial, Sans-Serif; margin-bottom: 0px; }

.trackback { padding: 2px; margin: 0 0 5px 0; }
.trackbackblogname { font-size: 10px; color: #999; }
.trackbacklink { }
.trackbackexcerpt { font-size: 10px; color: #999 }

.grid 
{
    margin: 5px;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.grid th, .grid td
{
    border: 1px solid #cccccc;
    padding: 4px;
    vertical-align: top;
}

.grid th  
{
    background-color: #f0f0f0;
}

.maxWidth
{
    width: 97%;
}

.emailHeader {
    font-weight:bold;
}

.date {
    color:#336699;
}

.borderedBox {
    border: thin solid #bbbbbb;
    padding: 2px;
}


.gridBox {
    border: 0px;
    padding: 0px;
    background-color:#bbbbbb;
}

/* Email/Comment action styles */

.issuePanelContainer
{
    border: 1px solid #bbbbbb;
    border-collapse: collapse;
    width: 100%;
}

.action-box {
    border: thin solid #bbbbbb;
    border-collapse: collapse;
    margin: 2px 2px 2px 2px;
}

.action-container
{
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
}

.actionHeader
{
    border-top: 1px solid #bbbbbb;
    padding: 2px;
    background-color: #f0f0f0;
    border-collapse: collapse;
}

.actionLinks 
{   
    text-align: right;
    padding: 2px;
    float: right;
    vertical-align: middle;
}

.changeHistory td
{
    border: thin solid #ffffff;
}

.action-details 
{
    float: left;
	padding: 2px;
    background-color: #f0f0f0;
    text-align: left;
}

.action-links {
    text-align: right;
    padding: 2px;
    background-color: #f0f0f0;
}

.action-body {
	background-color: #ffffff;
    padding: 2px;
}

.action-spacer {
	clear: both;
}

.alertHeader {
    border: 2px solid #990000;
    margin: 4px;
    font-weight: bold
}


 /* new styles */
HR { color: #ccc; height: 1px; }

/* top nav bar */
.navItemOver { font-family: Verdana, Sans-Serif; font-size: 10px; font-weight: bold; color: #ffffff; background-color: #3c78b5; cursor: hand; cursor: pointer;}
.navItemOver a { color: #ffffff; text-decoration: none; }
.navItem { font-size: 10px; font-family: Verdana, Sans-Serif; font-weight: bold; color: #ffffff; }
.navItem a { color: #ffffff; text-decoration: none; }


/* Projects grouped by category on the dashboard */
.projectCategoryGroup { border-width: 0 1px 1px 1px; padding: 7px; border-style: dashed; border-color: #bbbbbb; }
span.switch { cursor: pointer; text-decoration: underline; color: #003366; }

/* Column header styles */
TD.colHeaderLink  {	font-family: Arial, Helvetica;	font-size: 12px; }
.colHeaderLink a { text-decoration: none; }
.colHeaderOver { background-color: #bbbbbb;	font-family: Arial, Helvetica;	font-size: 12px; cursor: hand; cursor: pointer;}
.colHeaderOver a { text-decoration: none; }
.colHeaderHighlight { background-color: #bbbbbb;	font-family: Arial, Helvetica;	font-size: 12px;}
.colHeaderHighlight a { text-decoration: none; }

P, UL, OL, DL, LI, TD { font-family: Arial, Sans-Serif; font-size: 12px; line-height: 1.4; color:black; }

.footer { text-align: center; }

optgroup
{
    background-color: #fffff0;
    border-top: 1px solid #cccccc;
    padding: 2px;
    font-weight: normal;
}

option
{
    background-color: #ffffff;
}

ul.square
{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.square li
{
    padding-left: 15px;
    background-image: url(/images/icons/bullet_creme.gif);
    background-repeat: no-repeat;
    background-position: 0em 0.4em;
}

.wizardFooter
{
    vertical-align: top;
    background-color: #f0f0f0;
    text-align: right;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.wizardFooter #cancelButton
{
    margin-left: 1em;
}

.wizardFooter .wizardInfo
{
    float: left;
    font-size: 0.8em;
    vertical-align: middle;
    text-align: left;
}

.codearea
{
    border-width: 1px;
    border-style: dashed;
    border-color: #bbbbbb;
    background-color: #F6F6F6;
    width: 80%;
    margin: 10px auto;
    padding: 0em 1em;
    -moz-border-radius: 10px;
}


pre.codearea h4
{
    border-bottom: 1px #bbbbbb solid;
}

pre.codearea textarea
{
    border: none;
    width: 100%;
    height: 300px;
    background-color: #F6F6F6;
    font-size: 100%;
    margin-bottom: 1em;
}

.subText
{
    font-size: 80%;
}

.selectDescription
{
    font-size:10px;
    text-align:top;
}

img
{
    border: 0px;
}

.informationBox
{
    border: 1px solid #F0C000;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #FFFFCE;
    padding: 10px;
}

.informationBox .error
{
    color: #FF0000; 
    font-weight:bold;
    font-size: 120%;
}

.informationBox .success
{
    color: #006400;
    font-weight:bold;
    font-size: 120%;
}

.informationBox .info
{
    color: #6600FF; 
    font-weight: bold;
    font-size: 120%;
}

.nowrap
{
    white-space: nowrap;
}

tr.even {
  background-color: #eaeaea;
}
tr.odd {
  background-color: #EEEECC;
}

/* page */
table.pagebanner {
	background:url(../images/page_bg.gif);
	border: 1px solid #DBDBDB;
	padding-left:4px; padding-right:4px;
	width: 100%;
	margin-top: 10px;
}

th.sortable a {
	background-image: url(../images/arrow_off.png);
}
th.order1 a {
	background-image: url(../images/arrow_down.png);
}
th.order2 a {
	background-image: url(../images/arrow_up.png);
}
th.sorted {
    background-color: #fff;
}
th.sorted a, th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

div.fixedHeaderTableContainer {
	border: 1px solid #666;
	overflow:auto;
	width:100%;
	margin: 20px 0 20px 0;
}

div.fixedHeaderTableContainer table {
	border: 0px none #666;
	margin: 0px;
}

div.fixedHeaderTableContainer thead tr {
	position:relative;
	top: expression(document.getElementById('fixedHeaderTableContainer').scrollTop);
}

table.data {
	border: 1px solid #666;
	width: 100%;
	margin: 20px 0 20px 0;

}

table.data90 {
	border: 1px solid #666;
	width: 90%;
	margin: 20px 0 20px 0;
}

table.dataList {
	border: 1px solid #666;
	width: 100%;
	margin: 3px 0 20px 0;
}

.smalltitle { font-size: 11px; font-weight: bold; font-family: Arial, sans-serif; color: #ffffff; }
.smalltitlelink { font-size: 11px; font-weight: bold; font-family: Arial, sans-serif; color: #003366; }
.smallfont { font-size: 11px; font-family: Arial, sans-serif;}
.tabClass {padding-top: 1px; padding-left: 1px; padding-right: 1px}
.bb{font-weight:bold}

.message{color:green;font-weight:bold}

a:link {
	color: #003366; text-decoration:none;
}
a:visited {
	color: #003366; text-decoration:none;
}
a:hover {
	color: #FF0000; text-decoration:none;
}
a:active {
	color: #003366; text-decoration:none;
}


.warningMsg { color:red }

.required { color:red; font-weigth: bolder; padding-left:2px }

.disabledStyle {
	background-color: #F5F5F5;
	border :#C0C0C0 1px solid;
}

/* 20090303 */
.new_bg{
	background:url(../images/list_title_bg.gif);
}

.new_bg_header{
	background:#000;
}

.new_title{
	border-bottom:1px solid #ccc; background:#fbfbfb;
}