Title: 
PO Final Confirm!

Body:
<table width="95%" height="378" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  valign="top" height="378"><span class="textblack"><br>
      <br>
      </span>Dear ${x_user.name} (${role}),
      <p>This is to notify you that the following PO you requested has been final confirmed, please ready to receive the po item.</p>
      <table width="90%" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666">
        <tr bgcolor="#FFFFFF">
          <td align="center" class="bold"><div align="left">PO No.</div></td>
          <td align="center" class="bold"><div align="left">PO Title</div></td>
          <td align="center" class="bold"><div align="left">Supplier Name</div></td>
          <td align="center" class="bold"><div align="left">Purchase Category</div></td>
          <td align="center" class="bold"><div align="left">Purchase Currency</div></td>
          <td align="center" class="bold"><div align="left">Purchase Amount</div></td>
          <td height="21" align="center" class="bold"><div align="left">Base Currency</div></td>
          <td height="21" align="center" class="bold"><div align="left">Base Amount</div></td>
          <td height="13" align="center" class="bold"><div align="left">Creator</div></td>
          <td height="13" align="center" class="bold"><div align="left">Create Date</div></td>
        <tr bgcolor="#FFFFFF">
            <td class="textblack"><div align="left">${x_po.id}</div></td>
            <td class="textblack"><div align="left">${x_po.title}</div></td>
            <td class="textblack"><div align="left">${x_po.supplier.name}</div></td>
            <td class="textblack"><div align="left">${x_po.subCategory.description}</div></td>
            <td class="textblack"><div align="left">${x_po.exchangeRate.currency.code}</div></td>
            <td class="textblack"><div align="left">${x_po.amount}</div></td>
            <td class="textblack"><div align="left">${x_po.baseCurrency.code}</div></td>
            <td class="textblack"><div align="left">${x_po.baseCurrencyAmount}</div></td>
            <td class="textblack"><div align="left">${x_po.createUser.name}</div></td>
            <td class="textblack"><div align="left">$dateTool.format('yyyy/MM/dd',$x_po.createDate)</div></td>
        </tr>
      </table>      <p>&nbsp;</p>
            
      <p><br>
        Please use your web browser to go to:<br>
      ${visitUrl} visit our system.</p>
      <p>${regardWords}<br>
      ${signature}</p>
      <p><br>
      </p>
      <p></p>
    <p></p></td>
  </tr>
</table>