Title: 
Travel Arrangement Reminder!

Body:
<table width="95%" height="467" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  valign="top" height="467"><span class="textblack"><br>
      <br>
      </span>Dear ${x_user.name} (${role}),
      <p>This is to remind you that the following TA need to be arranged.</p>
      <table width="90%" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666">
        <tr bgcolor="#FFFFFF">
          <td align="center" class="bold"><div align="left">Urgent Level</div></td>
          <td align="center" class="bold"><div align="left">TA No.</div></td>
          <td align="center" class="bold"><div align="left">TA Title</div></td>
          <td align="center" class="bold"><div align="left">From City</div></td>
          <td align="center" class="bold"> <div align="left">To City</div></td>
          <td align="center" class="bold"><div align="left">Travel Mode</div></td>
          <td align="center" class="bold"><div align="left">Date From</div></td>
          <td align="center" class="bold"><div align="left">Date To</div></td>
          <td align="center" class="bold"><div align="left">Requestor</div></td>
          <td align="center" class="bold"><div align="left">Request Date</div></td>
        </tr>
      #foreach( $x_ta in $x_taList)
        <tr bgcolor="#FFFFFF">
          <td class="textblack"><div align="left">${x_ta.urgent.engShortDescription}</div></td>
          <td class="textblack"><div align="left">${x_ta.id}</div></td>
          <td class="textblack"><div align="left">${x_ta.title}</div></td>
          <td class="textblack"><div align="left">${x_ta.fromCity.engName}</div></td>
          <td class="textblack"><div align="left">${x_ta.toCity.engName}</div></td>
          <td class="textblack"> <div align="left">${x_ta.travellingMode.engShortDescription}</div></td>
          <td class="textblack"> 
            <div align="left">#if($x_ta.fromDate)
          	  $dateTool.format('yyyy/MM/dd',$x_ta.fromDate)
          #else &nbsp; #end </div></td>
          <td class="textblack">
            <div align="left">#if($x_ta.toDate)
          	  $dateTool.format('yyyy/MM/dd',$x_ta.toDate)
          #else &nbsp; #end </div></td>
          <td class="textblack"><div align="left">${x_ta.requestor.name}</div></td>
          <td class="textblack"><div align="left">$dateTool.format('yyyy/MM/dd',$x_ta.requestDate)</div></td>
        </tr>
      </table>  
      #end    
      <p><br>
        Please use your web browser to go to:<br>
        ${visitUrl} visit our system.</p>
      <p>${regardWords}<br>
      ${signature}</p>
      <p>&nbsp;</p>
    <p></p></td>
  </tr>
</table>