Title:
OA System Password Find!

Body:

<table width="95%" height="346" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  valign="top" height="346"><span class="textblack"><br>
      <br>
      Dear ${user.name}</span>
      <p>As you requested, your password has now been reset. Your new details 
      are as follows:</p>
      <table width="90%" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666">
        <tr bgcolor="#FFFFFF"> 
          <td width="300" class="bold">Your login name</td>
          <td width="332" class="textblack"><span class="bold">Your password </span></td>
        </tr>
        <tr bgcolor="#FFFFFF"> 
          <td class="textblack">${user.loginName}</td>
          <td class="textblack">${newPassword}</td>
        </tr>
      </table>
      <p>Please use your web browser to go to:<br>
        ${visitUrl} visit our system.</p>
      <p>${regardWords}<br>
        ${signature}</p>
      
    <p>&nbsp;</p></td>
  </tr>
</table>