Title: 
Notification for PO Item Receipt!

Body:
<table width="95%" height="392" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  valign="top" height="392"><span class="textblack"><br>
      <br>
      </span>Dear ${x_emailToUser.name} (${role}),
      <p>This is to notify you the following PO item has been received by another receiver, please verify it.</p>
      <table width="90%"  border="0" cellpadding="3" cellspacing="1" bgcolor="#666666">
        <tr bgcolor="#FFFFFF">
          <td><span class="bold">PO No.</span></td>
          <td><span class="bold">PO Item Id</span></td>
          <td><span class="bold">Referenced PR No.</span></td>
          <td><span class="bold">Item Description</span></td>
          <td><span class="bold"><span class="textblack">Received Quantity</span></span></td>
          <td><span class="bold">Received Date</span></td>
          <td><span class="bold">Receiver</span></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td><span class="textblack">${x_poir.purchaseOrderItem.purchaseOrder.id}</span></td>
          <td><span class="textblack">${x_poir.purchaseOrderItem.id}</span></td>
          <td><span class="textblack">${x_poir.purchaseOrderItem.purchaseRequestItem.purchaseRequest.id}</span></td>		  
          <td>
          	<span class="textblack">${x_poir.purchaseOrderItem.itemSpec}</span>
		  </td>
          <td><span class="textblack">${x_receiveQty}</span></td>
          <td><span class="textblack">$dateTool.format('yyyy/MM/dd',$x_receiveDate)</span></td>
          <td><span class="textblack">${x_receiver.name}</span></td>
        </tr>
      </table>      <p>&nbsp;</p>
      <table width="600" border="0" cellpadding="3" cellspacing="1" bgcolor="#DFE2FF">
        <tr bgcolor="#FFFFFF">
          <td class="bold">PO No. :</td>
          <td class="textblack"> ${x_poir.purchaseOrderItem.purchaseOrder.id}</td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td class="bold">PO Item Id :</td>
          <td class="textblack"> ${x_poir.purchaseOrderItem.id}</td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td class="bold">Referenced PR No.:</td>
          <td class="textblack">${x_poir.purchaseOrderItem.purchaseRequestItem.purchaseRequest.id}</td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td class="bold">Item Description :</td>
          <td class="textblack">${x_poir.purchaseOrderItem.itemSpec}</td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td class="bold"><span class="textblack"> Received Quantity:</span></td>
          <td class="textblack">${x_receiveQty}</td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td class="bold">Received Date :</td>
          <td class="textblack"> $dateTool.format('yyyy/MM/dd',$x_receiveDate)</td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td height="13" class="bold">Receiver :</td>
          <td class="textblack"> ${x_receiver.name}</td>
        </tr>
      </table>      <p>Please use your web browser to go to:<br>
      ${visitUrl} visit our system.</p>
      <p>${regardWords}<br>
      ${signature}</p>
      <p>&nbsp;</p>
    <p></p></td>
  </tr>
</table>