Title: 
PR Approved!

Body:
<table width="95%" height="399" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  valign="top" height="376"><span class="textblack"><br>
      <br>
      </span>Dear ${user.name} (${role}),
      <p>This is to notify you that the following PR you requested has been Approved.</p>
      <table width="90%"  border="0" cellpadding="3" cellspacing="1" bgcolor="#666666">
        <tr bgcolor="#FFFFFF">
          <td><span class="bold">PR No.</span></td>
          <td><span class="bold">PR Title</span></td>
          <td><span class="bold">PR Category</span></td>
          #if($pr.capex)
          <td><span class="bold">Budget No.</span></td>
          #end
          #if($pr.yearlyBudget)
	        <td><span class="bold">Budget No.</span></td>
          #end
          <td><span class="bold">PR Amount</span></td>
          <td><span class="bold">Requestor </span></td>
          <td><span class="bold">Request Date</span></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td><span class="textblack">${pr.id}</span></td>
          <td><span class="textblack">${pr.title}</span></td>
          <td><span class="textblack">${pr.purchaseSubCategory.description}</span></td>
          #if($pr.capex)
          <td><span class="textblack">${pr.capex.id}</span></td>
          #end
          #if($pr.yearlyBudget)
          <td><span class="textblack">${pr.yearlyBudget.code}</span></td>
          #end
          <td><span class="textblack">${pr.amount}</span></td>
          <td><span class="textblack">${pr.requestor.name}</span></td>
          <td><span class="textblack">$dateTool.format('yyyy/MM/dd', $pr.requestDate)</span></td>
        </tr>
      </table>      <p>&nbsp;</p>
      <p>Please use your web browser to go to:<br>
      ${visitUrl} visit our system.</p>
      <p>${regardWords}<br>
        ${signature}<br>
      </p>
    <p>&nbsp;      </p></td>
  </tr>
</table>