Title: 
Notification for New Province Creation

Body:

<table width="95%" height="324" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td  valign="top" height="324"><span class="textblack"><br>
      <br>
      </span>Dear ${user.name} (${role}),
      <p>This is to notify you that the following new province need to be promoted as global province for the business needs.</p>
      <table width="90%" border="0" cellpadding="3" cellspacing="1" bgcolor="#666666">
        <tr bgcolor="#FFFFFF">
          <td width="152" class="bold">Country English Name :</td>
          <td width="433" class="textblack"><span class="bold">Country Chinese Name</span></td>
          <td width="433" class="textblack"><span class="bold">Province English Name</span></td>
          <td width="433" class="textblack"><span class="bold">Province Chinese Name</span></td>
        </tr>
        <tr bgcolor="#FFFFFF">
          <td class="textblack">${country.engName}</td>
          <td class="textblack">${country.chnName}</td>
          <td class="textblack">${province.engName}</td>
          <td class="textblack">${province.chnName}</td>
        </tr>
      </table>      <p>&nbsp;</p>
      <p>Please use your web browser to go to:<br>
      ${visitUrl} visit our system.</p>
      <p>${regardWords}<br>
        ${signature}</p>
      <p>&nbsp;</p>
    <p></p></td>
  </tr>
</table>